<div class="contenedor">
    <div class="container-fluid">
        <div id="home"></div>
        <div class="row py-5 home">
            <div class="col-sm-6 d-flex justify-content-center">
                <div><img class="photo" src="img/personal/foto-abastracto.jpg" alt=""></div>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-start">
                <div class="col-sm-10">
                    <h1 class="titulo">Ericson Cruz</h1>
                    <h4 class="titulo-2">Desarrollador de Software</h4>
                    <p class="descripcion">Soy Técnico Informático y futuro Ingeniero de Sistemas, apasionado por el
                        desarrollo full-stack. He creado soluciones como tiendas online y sistemas de pago escolar. Me
                        motivan los retos tecnológicos, con objetivos en DevOps, IA, Cloud y CI/CD. Siempre aprendiendo,
                        creando contenido y disfrutando del fútbol, el cine y los viajes. 👉 ¡Hablemos y creemos algo
                        increíble juntos!</p>
                    <button class="btn-descargar">Descargar CV</button>
                    <div class="">
                        <img class="social-item" src="img/social/youtube.png" width="40px" alt="">
                        <a href="https://www.linkedin.com/in/ericson-cruz-70b875262/" target="_blank">
                            <img class="social-item" src="img/social/linkedin.png" width="40px" alt="">
                        </a>
                        <a href="https://github.com/EricsonCR" target="_blank">
                            <img class="social-item" src="img/social/github.png" width="40px" alt="">
                        </a>
                        <a href="">
                            <img class="social-item" src="img/social/whatsapp.png" width="40px" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="acerca"></div>
        <div class="row py-5 acerca">
            <div class="col-sm-6 py-2 d-flex align-items-center justify-content-end">
                <div class="col-sm-10">
                    <h1 class="titulo">Sobre mi</h1>
                    <p class="descripcion">
                        💻Soy Técnico Informático (2022 - 2024) y actualmente curso la carrera
                        de <strong>Ingeniería de Sistemas</strong>. Desde el inicio de mi formación, he buscado aplicar
                        mis conocimientos
                        en proyectos reales. He desarrollado soluciones full-stack como una tienda online y un sistema
                        de gestión de pagos escolares, utilizando tecnologías como Java, Spring Boot, C#, .NET Core,
                        Angular, MySQL y SQL Server. </p>
                    <p class="descripcion">
                        ⚙️ Manejo herramientas como GitHub y Docker, y me encuentro constantemente aprendiendo sobre
                        DevOps, Inteligencia Artificial, Cloud, CI/CD e Infraestructura, con un fuerte interés en
                        entornos críticos y sistemas de alta disponibilidad.</p>
                    <p class="descripcion">
                        🚀 Me considero una persona proactiva, curiosa y orientada a resultados. Disfruto enfrentar
                        nuevos
                        desafíos tecnológicos y compartir lo que aprendo, incluso creando contenido en video. Fuera del
                        mundo tech, me apasionan el fútbol, nadar, viajar y el cine, actividades que equilibran mi
                        enfoque profesional y personal.</p>
                    <p class="descripcion">
                        🌍 Mi objetivo es seguir creciendo como desarrollador y convertirme en un profesional integral,
                        capaz de diseñar, implementar y escalar soluciones tecnológicas que impacten positivamente en
                        las personas y organizaciones. Creo firmemente en el aprendizaje continuo, la automatización
                        (CI/CD) y la colaboración como motores del progreso. 🤝 Estoy listo para nuevos desafíos.
                        ¿Colaboramos?</p>
                </div>
            </div>
            <div class="col-sm-6 py-2 d-flex align-items-center">
                <div><img class="photo" src="img/personal/student-2.png" alt=""></div>
            </div>
        </div>
        <div class="row py-5 carrera">
            <div class="col-sm-6 d-flex justify-content-end align-items-top">
                <div class="col-sm-10 ">
                    <h1 class="titulo">Experiencia</h1>
                    <div class="py-2">
                        <h4 class="subtitulo-1">Tecnico Soporte funcional</h4>
                        <p class="subtitulo-2">feb. 2024 - abr. 2024 | Jesus Maria | remoto 🛠️</p>
                        <p class="descripcion">Como Junior en KallpaSoft, brindé soporte en tareas funcionales dentro de
                            SAP Business One. Elaboré plantillas DTW para carga masiva de datos y desarrollé consultas
                            en Query Manager. Esta experiencia me permitió fortalecer mis habilidades técnicas,
                            comprender mejor el entorno ERP y aportar soluciones efectivas que facilitaron la gestión
                            operativa de la empresa.</p>
                    </div>
                    <div class="py-2">
                        <h4 class="subtitulo-1">Tecnico de Sistemas Embebidos</h4>
                        <p class="subtitulo-2">jul. 2023 - ago. 2023 | Cehck Point Advertainment 🧑‍💼</p>
                        <p class="descripcion">En Check Point, me desempeñé como Senior desarrollando software para
                            sistemas embebidos utilizando hardware como Arduino, ESP32 y Raspberry Pi. Además, diseñé
                            sistemas web para control y monitoreo remoto. Participé activamente en el diseño de
                            circuitos PCB y en la elaboración de planos eléctricos, integrando tanto el desarrollo de
                            hardware como software para ofrecer soluciones eficientes en entornos de automatización y
                            control.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-top justify-content-start">
                <div class="col-sm-10">
                    <h1 class="titulo">Educacion</h1>
                    <div>
                        <h4 class="subtitulo-1">Igenieria de Sistemas</h4>
                        <p class="subtitulo-2">2025-Presente | UPC 📖</p>
                        <p class="descripcion">Actualmente curso el 5to ciclo de la carrera de Ingeniería de Sistemas,
                            donde desarrollo habilidades en programación web, redes, diseño de procesos, matemáticas
                            computacionales y experiencia de usuario (UX). Esta etapa me permite consolidar mis
                            conocimientos en tecnologías modernas y metodologías ágiles, preparándome para enfrentar
                            retos reales del sector tecnológico con una formación sólida y orientada a la innovación.
                        </p>
                    </div>
                    <div>
                        <h4 class="subtitulo-1">Computacion e Informatica</h4>
                        <p class="subtitulo-2">2022-2024 | CIBERTEC | completado ✅</p>
                        <p class="descripcion">Culminé satisfactoriamente la carrera técnica de Computación e
                            Informática, con enfoque en programación, gestión de datos y desarrollo de software
                            multiplataforma. Durante mi formación, dominé lenguajes como Java y .NET, bases de datos SQL
                            y NoSQL, análisis y diseño de sistemas (UML, RUP), servicios web, pruebas de software y
                            metodologías ágiles. Además, fortalecí habilidades en emprendimiento, gestión de proyectos
                            TI e innovación tecnológica, obteniendo certificaciones modulares clave en desarrollo de
                            software y gestión de aplicaciones.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 skills">
            <div class="">
                <h1 class="titulo">Skills</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-sm-10">
                    <button class="btn btn-success px-4 mx-2 my-2">Java</button>
                    <button class="btn btn-primary px-4 mx-2 my-2">C#</button>
                    <button class="btn btn-danger px-4 mx-2 my-2">Spring boot</button>
                    <button class="btn btn-warning px-4 mx-2 my-2">.Net Core</button>
                    <button class="btn btn-info px-4 mx-2 my-2">Angular</button>
                    <button class="btn btn-secondary px-4 mx-2 my-2">MySQL</button>
                    <button class="btn btn-dark px-4 mx-2 my-2">SQL Server</button>
                    <button class="btn btn-light px-4 mx-2 my-2">GitHub</button>
                    <button class="btn btn-primary px-4 mx-2 my-2">Docker</button>
                    <button class="btn btn-success px-4 mx-2 my-2">DepOps</button>
                    <button class="btn btn-info px-4 mx-2 my-2">Agil</button>
                    <button class="btn btn-dark px-4 mx-2 my-2">Arduino</button>
                    <button class="btn btn-danger px-4 mx-2 my-2">STM32</button>
                    <button class="btn btn-secondary px-4 mx-2 my-2">Raspberry</button>
                    <button class="btn btn-warning px-4 mx-2 my-2">MQTT</button>
                </div>
            </div>
        </div>
        <div id="proyectos"></div>
        <div class="py-5 proyectos">
            <div>
                <h1 class="titulo">Proyectos</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row col-sm-10">
                    <div class="col-sm-4 py-2">
                        <div class="sitio">
                            <img class="photo" src="img/sitio-1.png" alt="">
                            <h1 class="subtitulo-3">SmarTech | tienda</h1>
                            <div class="d-flex justify-content-between">
                                <div><a class="subtitulo-2" href="">SmarTech.com</a></div>
                                <div><img class="photo" src="img/social/github.png" width="24px" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="sitio">
                            <img class="photo" src="img/sitio-2.png" alt="">
                            <h1 class="subtitulo-3">School JoseMaria | sistema pagos</h1>
                            <div class="d-flex justify-content-between">
                                <div><a class="subtitulo-2" href="">Scholljm.com</a></div>
                                <div><img class="photo" src="img/social/github.png" width="24px" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="sitio">
                            <img class="photo" src="img/sitio-1.png" alt="">
                            <h1 class="subtitulo-3">RTOS | sistema monitoreo</h1>
                            <div class="d-flex justify-content-between">
                                <div><a class="subtitulo-2" href="">Iotmonitor.com</a></div>
                                <div><img class="photo" src="img/social/github.png" width="24px" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacto">
            <div class="text-center">
                <h1 id="contacto" class="titulo">Contacto</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row col-sm-6 py-2">
                    <div class="col-sm-6 py-2">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="col-sm-6 py-2">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row col-sm-6 py-2">
                    <div class="">
                        <label for="">Asunto</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row col-sm-6 py-2">
                    <div class="">
                        <label for="">Mensaje</label>
                        <textarea class="form-control" name="" id=""></textarea>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center py-2">
                <button class="btn btn-primary py-2 px-5">Enviar</button>
            </div>
        </div>
    </div><!--container-fluid-->
</div><!--contenedor-->