<div class="contenedor">
    <div class="container-fluid">
        <div id="home"></div>
        <div class="row py-5 home">
            <div class="col-sm-6 d-flex justify-content-center">
                <div><img class="photo" src="img/personal/foto-abastracto.jpg" alt=""></div>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-start">
                <div class="col-sm-10">
                    <h1 class="titulo">Ericson Cruz</h1>
                    <h4 class="">Desarrollador de Software</h4>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio,
                        blanditiis
                        quis impedit
                        doloremque ipsa, eos reiciendis asperiores facilis rem dolorum nostrum provident soluta corporis
                        voluptatum recusandae est odit. Aspernatur.</p>
                    <button class="btn-descargar">Descargar CV</button>
                    <div class="">
                        <img class="social-item" src="img/social/youtube.png" width="40px" alt="">
                        <img class="social-item" src="img/social/linkedin.png" width="40px" alt="">
                        <img class="social-item" src="img/social/github.png" width="40px" alt="">
                        <img class="social-item" src="img/social/whatsapp.png" width="40px" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="acerca"></div>
        <div class="row py-5 acerca">
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                <div class="col-sm-10">
                    <h1 class="titulo">Sobre mi</h1>
                    <p class="descripcion">Hola, soy <strong>Ericson Cruz</strong>, desarrollador web y diseñador UI/UX
                        con
                        pasión por crear
                        experiencias digitales
                        atractivas, funcionales y centradas en el usuario. Con 4 años de experiencia en el sector,
                        siempre
                        busco
                        formas nuevas e innovadoras de hacer realidad las visiones de mis clientes.</p>
                    <p class="descripcion">
                        Creo que el diseño es mucho más que simplemente hacer que las cosas se vean bonitas: se trata de
                        resolver problemas y crear experiencias intuitivas y agradables para los usuarios.</p>
                    <p class="descripcion">
                        Ya sea que trabaje en un sitio web, una aplicación móvil u otro producto digital, aporto mi
                        compromiso
                        con la excelencia en el diseño y el enfoque en el usuario a cada proyecto. Espero con ansias la
                        oportunidad de aportar mis habilidades y pasión a su próximo proyecto.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div><img class="photo" src="img/personal/student-2.png" alt=""></div>
            </div>
        </div>
        <div class="row py-5 carrera">
            <div class="col-sm-6 d-flex justify-content-end align-items-center">
                <div class="col-sm-10 ">
                    <h1 class="titulo">Experiencia</h1>
                    <div>
                        <h4 class="subtitulo-1">Ingeniero de software</h4>
                        <p class="subtitulo-2">2022-Presente | Mountain View, CA</p>
                        <p class="descripcion">Trabajó en un equipo responsable del desarrollo de nuevas funciones para
                            el
                            motor
                            de búsqueda de Google, incluida la mejora de la precisión y la relevancia de los resultados
                            de
                            búsqueda y el desarrollo de nuevas herramientas para el análisis y la visualización de
                            datos.
                        </p>
                    </div>
                    <div>
                        <h4 class="subtitulo-1">Ingeniero de software</h4>
                        <p class="subtitulo-2">2022-Presente | Mountain View, CA</p>
                        <p class="descripcion">Trabajó en un equipo responsable del desarrollo de una nueva función de
                            aplicación móvil que permitía a los usuarios crear y compartir contenido de video de formato
                            corto,
                            incluido el diseño e implementación de una nueva interfaz de usuario y el desarrollo de la
                            infraestructura de backend para respaldar la función.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-start">
                <div class="col-sm-10">
                    <h1 class="titulo">Educacion</h1>
                    <div>
                        <h4 class="subtitulo-1">Igenieria de Sistemas</h4>
                        <p class="subtitulo-2">2025-Presente | UPC</p>
                        <p class="descripcion">Trabajó en un equipo responsable del desarrollo de nuevas funciones para
                            el motor
                            de búsqueda de Google, incluida la mejora de la precisión y la relevancia de los resultados
                            de
                            búsqueda y el desarrollo de nuevas herramientas para el análisis y la visualización de
                            datos.</p>
                    </div>
                    <div>
                        <h4 class="subtitulo-1">Computacion e Informatica</h4>
                        <p class="subtitulo-2">2022-2024 | CIBERTEC</p>
                        <p class="descripcion">Trabajó en un equipo responsable del desarrollo de una nueva función de
                            aplicación móvil que permitía a los usuarios crear y compartir contenido de video de formato
                            corto,
                            incluido el diseño e implementación de una nueva interfaz de usuario y el desarrollo de la
                            infraestructura de backend para respaldar la función.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 skills">
            <div class="">
                <h1 class="titulo">Skills</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-sm-10">
                    <button class="btn btn-success px-4 mx-2 my-2">Java</button>
                    <button class="btn btn-primary px-4 mx-2 my-2">C#</button>
                    <button class="btn btn-danger px-4 mx-2 my-2">Spring boot</button>
                    <button class="btn btn-warning px-4 mx-2 my-2">.Net Core</button>
                    <button class="btn btn-info px-4 mx-2 my-2">Angular</button>
                    <button class="btn btn-secondary px-4 mx-2 my-2">MySQL</button>
                    <button class="btn btn-dark px-4 mx-2 my-2">SQL Server</button>
                    <button class="btn btn-light px-4 mx-2 my-2">GitHub</button>
                    <button class="btn btn-primary px-4 mx-2 my-2">Docker</button>
                    <button class="btn btn-success px-4 mx-2 my-2">DepOps</button>
                    <button class="btn btn-danger px-4 mx-2 my-2">Agil</button>
                </div>
            </div>
        </div>
        <div id="proyectos"></div>
        <div class="py-5 proyectos">
            <div>
                <h1 class="titulo">Proyectos</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row col-sm-10">
                    <div class="col-sm-4 py-2">
                        <div class="sitio">
                            <img class="photo" src="img/sitio-1.png" alt="">
                            <h1 class="subtitulo-1">Tienda SmarTech</h1>
                            <div class="d-flex justify-content-between">
                                <div><a class="subtitulo-2" href="">SmarTech.com</a></div>
                                <div><img class="photo" src="img/social/github.png" width="24px" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="sitio">
                            <img class="photo" src="img/sitio-2.png" alt="">
                            <h1 class="subtitulo-1">Tienda SmarTech</h1>
                            <div class="d-flex justify-content-between">
                                <div><a class="subtitulo-2" href="">SmarTech.com</a></div>
                                <div><img class="photo" src="img/social/github.png" width="24px" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="sitio">
                            <img class="photo" src="img/sitio-1.png" alt="">
                            <h1 class="subtitulo-1">Tienda SmarTech</h1>
                            <div class="d-flex justify-content-between">
                                <div><a class="subtitulo-2" href="">SmarTech.com</a></div>
                                <div><img class="photo" src="img/social/github.png" width="24px" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacto">
            <div class="text-center">
                <h1 id="contacto" class="titulo">Contacto</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row col-sm-6 py-2">
                    <div class="col-sm-6 py-2">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="col-sm-6 py-2">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row col-sm-6 py-2">
                    <div class="">
                        <label for="">Asunto</label>
                        <input type="text" class="form-control" name="" id="">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row col-sm-6 py-2">
                    <div class="">
                        <label for="">Mensaje</label>
                        <textarea class="form-control" name="" id=""></textarea>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center py-2">
                <button class="btn btn-primary py-2 px-5">Enviar</button>
            </div>
        </div>
    </div><!--container-fluid-->
</div><!--contenedor-->